#PlayersModal{
    text-align: center;
}

.playerPicture{
    margin: 4%;
    cursor: pointer;
    width: 3cm;
    height: 3cm;
    border-radius: 150px;
    border:2px solid #fc0303;
}

.playerPlayPicture{
    margin: 8%;
    width: 8cm;
    height: 8cm;
    border-radius: 25px;
    border:2px solid #000000;
}

#P2P1{
    transform: scaleX(-1);
}

#P2P2{
    transform: scaleX(-1);
}

#P2P3{
    transform: scaleX(-1);
}

#P2P4{
    transform: scaleX(-1);
}

#P2P5{
    transform: scaleX(-1);
}

#Player1{
    transform: scaleX(-1);
}

#Player1:hover{
    transform: scaleX(1);
    content: url('./images/RockSelection.png');
}

#Player2:hover{
    content: url('./images/PaperSelection.png');
}

#Player3:hover{
    content: url('./images/ScissorsSelection.png');
}

#Player4:hover{
    content: url('./images/LizardSelection.png');
}

#Player5:hover{
    content: url('./images/SpockSelection.png');
}