.playerPicture{
    margin: 4%;
    cursor: pointer;
    width: 3cm;
    height: 3cm;
    border-radius: 150px;
    border:2px solid #fc0303;
}

.playerPlayPicture{
    margin-top: 2%;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 2%;
    width: 8cm;
    height: 8cm;
    border-radius: 25px;
    border:2px solid #000000;
}

.playerName{
    font-family: 'Trebuchet MS', 'sans-serif', 'Gill Sans MT',  'Gill Sans';
    font-style: italic;
    width: 10%;
    height: 10%;
    display: inline-block;
    text-align: center;
    font-size: calc(20px + 2vmin);
}

.conuterCont{
    width: 30%;
    display: inline-block;
}

.conuterTxt{
    margin-left: 2%;
    margin-right: 2%;
    font-style: italic;
    font-family: 'Trebuchet MS', 'sans-serif', 'Gill Sans MT',  'Gill Sans';
    font-weight: bold;
    font-size: calc(2px + 2vmin);
}

#Vs{
    font-family: 'Times New Roman', Cambria, Cochin, Georgia, Times, serif;
    font-size: calc(50px + 2vmin);
}

#PlayersNameCtx{
    height: 1cm;
    margin-left: 25%;
}

#Player1Name{
    margin-right: 47%;
}

#PlayersModal{
    text-align: center;
}

#P2P1{
    transform: scaleX(-1);
}

#P2P2{
    transform: scaleX(-1);
}

#P2P3{
    transform: scaleX(-1);
}

#P2P4{
    transform: scaleX(-1);
}

#P2P5{
    transform: scaleX(-1);
}

#Player1{
    transform: scaleX(-1);
}

#Player1:hover{
    transform: scaleX(1);
    content: url('./images/RockSelection.png');
}

#Player2:hover{
    content: url('./images/PaperSelection.png');
}

#Player3:hover{
    content: url('./images/ScissorsSelection.png');
}

#Player4:hover{
    content: url('./images/LizardSelection.png');
}

#Player5:hover{
    content: url('./images/SpockSelection.png');
}

#ClosePlayersButton{
    margin-left: 7cm;
}

#MultiplayerBtn{
    margin: 1%;
    width: 3cm;
}

#TitleMode{
    width: 40%;
    display: inline-block;
    font-family: Cochin, 'Times New Roman', Cambria, Georgia, Times;
    font-size: calc(30px + 2vmin);
    text-align: center;
    text-decoration: underline;
    margin-right: 18%;
}

#MatchDesc{
    font-style: italic;
    font-family: 'Trebuchet MS', 'sans-serif', 'Gill Sans MT',  'Gill Sans';
    font-weight: bold;
    font-size: calc(7px + 2vmin);
    text-align: center;
    display: inline-block;
    width: 20%;
}

#SelectP1BtnCtx{
    width: 15%;
    display: inline-block;
    margin-left: 25%;
}

#SelectP2BtnCtx{
    width: 16%;
    display: inline-block;
    margin-left: 9%;
}

#ImgCtx{
    margin-left: 11%;
}

#PlayBtnCtx{
    width: 100%;
    text-align: center;
}